* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  background-color: #fa6466;
  color: #190d0e;
  min-height: 560px;
}

@media only screen and (min-width: 500px){
  body {
    font-size: 1.5rem;
  }
}

/*////////*/
/* HEADER */
/*////////*/

header {
  color: #fbfbfb;
  display: flex;
  min-height: 4em;
  height: 10vh;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  font-weight: 900;
  font-size: 1.75em;
  padding-left: 8px;
}

.small-text {
  font-weight: 400;
  font-size:0.5em;
}

.logo {
  max-height: 1.25em;
}

/*//////*/
/* MAIN */
/*//////*/

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-left: 1em;
  padding-right: 1em;
  min-height: 80vh;
}

@media only screen and (min-width: 965px) {
  main {
    display: grid;
    grid-template: 230px repeat(3, 210px) / 1fr 4fr 4fr 4fr 1fr;
    grid-template-areas: 
    ". filter pokesearch1 pokesearch2 ."
    ". body body body ."
    ". body body body ."
    ". body body body .";
  }
}

@media only screen and (min-width: 1200px) {
  main {
    min-height: 714px;
    grid-template: repeat(3, 224px) / 1fr 292px repeat(3, minmax(0, 292px)) 1fr;
    grid-template-areas: 
    ". filter body body body ."
    ". pokesearch1 body body body ."
    ". pokesearch2 body body body .";
  }
}
/*////////*/
/* FOOTER */
/*////////*/

footer {
  display: flex;
  justify-content: center;
  color: #fbfbfb;
  text-align: center;
  height: 10vh;
}

footer > p {
  align-self: center;
}

/*////////////////*/
/* LOADING SCREEN */
/*////////////////*/

.loader-screen {
min-height: 80vh;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
color: #fbfbfb;
font-weight: 900;
text-transform: uppercase;
font-size: 1.75rem;
letter-spacing: 0.25rem;
}

.loader-screen p {
  animation: text-scale 6s linear infinite;
}

@keyframes text-scale {
  0% { transform: scale(1); }
  50% { transform: scale(1.25); }
  100% { transform: scale(1); }
}

.loader-object {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 12px;
}

.loader-bars {
  display: flex;
  gap: 12px;
  height: 112px;
  margin-bottom: 12px;
}

.loader-bar-1,
.loader-bar-2,
.loader-bar-3,
.loader-bar-4 {
  background-color: #fbfbfb;
  width: 48px;
  align-self: flex-end;
}

.loader-bar-1 {
  animation: loading1 3s linear infinite;
}

.loader-bar-2 {
  animation: loading2 5s linear infinite;
}

.loader-bar-3 {
  animation: loading3 6s linear infinite;
}

.loader-bar-4 {
  animation: loading4 4s linear infinite;
}

.semi-circle {
 background-color: #fbfbfb;
 width: 100%;
 height: 112px;
 border-radius: 0 0 112px 112px;
}

.center-red {
  position: absolute;
  height: 80px;
  width: 80px;
  background-color: #fa6466;
  border-radius: 50%;
  align-self: center;
}

.center-white {
  position: absolute;
  height: 56px;
  width: 56px;
  background-color: #fbfbfb;
  border-radius: 50%;
  align-self: center;
}

.loader-screen p {
  margin: 0;
}

@keyframes loading1 {
  0% { height: 48px; }
  25% { height: 80px; }
  50% { height: 112px; }
  75% { height: 80px; }
  100% { height: 48px; }
}

@keyframes loading2 {
  0% { height: 112px; }
  25% { height: 80px; }
  50% { height: 48px; }
  75% { height: 80px; }
  100% { height: 112px; }
}

@keyframes loading3 {
  0% { height: 80px; }
  25% { height: 48px; }
  50% { height: 80px; }
  75% { height: 112px; }
  100% { height: 80px; }
}

@keyframes loading4 {
  0% { height: 80px; }
  25% { height: 112px; }
  50% { height: 80px; }
  75% { height: 48px; }
  100% { height: 80px; }
}

/*/////////////////////////*/
/* FILTER AND SEARCH BOXES */
/*/////////////////////////*/

/*FILTER SETTINGS*/
.filter { 
  grid-area: filter;
}

.pokesearch1 {
  grid-area: pokesearch1;
}

.pokesearch2 {
  grid-area: pokesearch2;
}

.filter-title-bar,
.sort-options {
  display: flex;
}

.sort-options {
  align-items: center;
}

.search-card {
  border-radius: 8px;
  min-width: 274px;
  background-color: #fff;
  padding: 14px 20px 14px 20px;
  box-shadow: -2px 2px 0 3px #190d0e;
}

.filter-options[data-visible="false"],
.selection-listing-box[data-visible="false"]{
  display: none;
}

.filter-options[data-visible="true"],
.selection-listing-box[data-visible="true"]{
  display: grid;
}

.filter-title-bar {
  align-items: baseline;
  justify-content: space-between;
}

.filter-title,
.filter-option-title {
  font-weight: 900;
}

.filter-title {
  color: #fa6466;
  font-size: 1.5em;
  margin: 0;
}

.filter-option-title {
  font-size: 1rem;
  align-self: center;
}

.filter-options select,
.sort-options label,
.search-input,
.selection-listing-box select {
  font-size: 0.9rem;
}

.filter-options select,
.search-input,
.selection-listing-box select,
.selection-listing-box option {
  padding: 4px;
}

.filter-options select,
.search-input,
.selection-listing-box select {
  border: 1px solid #190d0e;
  border-radius: 2px;
  text-transform: capitalize;
}

.filter-options select,
.sort-options label {
  font-weight: 700;
}

.filter-options select {
  margin-left: 6px;
}

.sort-options {
  margin-top: 8px;
}

.sort-options input {
  transform: scale(1.25);
  margin: 0 .5rem;
}

.search-input {
  margin: 8px 0;
}

.selection-listing-box select {
  height: 90%;
}

.selection-listing-box option {
  padding-left: 32px;
  border-bottom: 1px solid #6ec73c;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: auto 90%;
  background-position: left top;
}

/* Filter Card Responsiveness*/

@media only screen and (min-width:965px) {

  .filter-options[data-visible],
  .selection-listing-box[data-visible] {
    display: grid;
  }

  .filter-title {
    font-size: 1.75rem;
  }

  .filter-option-title,
  .filter-options select {
    letter-spacing: 1px;
  }

  .filter-option-title {
    font-size: 1.25rem;
  }

  .filter-options select,
  .sort-options label,
  .search-input,
  .selection-listing-box select {
    font-size: 1rem;
  }

  .filter-options select,
  .search-input,
  .selection-listing-box option {
    padding: 2px;
  }

  .filter-options select {
    font-weight: 400;
  }

  .sort-options input {
    transform: scale(1);
    margin: 0 .5rem;
  }

  .selection-listing-box option {
    background-size: 24px;
    padding-left: 24px;
  }
}

/*Drop-down Buttons */
[data-dropdown="true"]{
  content: url("./images/down-arrow.svg");
}

[data-dropdown="false"]{
  content: url("./images/up-arrow.svg")
}

.show-more-button {
  max-width: 1.5em;
}

.show-more-button:hover,
.show-more-button:focus {
  cursor: pointer;
}

@media only screen and (min-width: 965px) {
  .show-more-button {
    display: none;
  }
}

/*//////////////////*/
/* MAIN DISPLAY BOX */
/*//////////////////*/

.display {
  grid-area: body;
  display: flex;
  justify-content: space-evenly;
  max-height: 228px;
  background-color: #fbfbfb;
  border-radius: 8px;
  padding: 24px;
  box-shadow: -2px 2px 0 3px #190d0e;
}

@media only screen and (min-width: 500px) {
  .display {
    justify-content: space-between;
    max-height: 860px;
  }
}

/* Main cards */
.card {
  text-transform: capitalize;
  width: 33%;
  font-size: .5rem;
  font-weight: 400;
}

.card  * {
  margin-top: 0;
}

.extra-info,
.pokemon-image-large,
.stat-titles,
.stats-outer,
.stats-inner {
  display: none;
}

.card h3 {
  font-weight: 900;
    margin-bottom: 12px;
}

.card h4 {
  font-weight: 900;
}

.card p {
  font-weight: 400;
}

.card-contents,
.stats-inner {
  height: 100%;
}

.card-contents {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pokemon-image-small {
  min-width: 32px;
  height: 32px;
}

.stats-line {
  display: flex;
  justify-content: center;
  margin-top: .25rem;
}

.stats-text-block {
  min-width: 72%;
  max-width: 224px;
}

.stat-titles {
  text-align: right;
}

.stat-num-val {
  font-size: .75rem;
  font-weight: 900;
  margin: 0px;
  padding: 0px;
}

.stats-outer,
.stats-inner {
  border-radius: 4px;
}

.stats-outer {
  height: 24px;
  width: 20%;
  box-shadow: inset -1px 1px 4px 2px rgba(0, 0, 0, 0.15);
}

.stats-inner {
  background: #6ec73c;
}

/* Main Card Responsiveness */
@media only screen and (min-width: 500px) {
  .card{
    font-weight: 700;
  }

  .card,
  .card h3 {
    font-size: 1.25rem;
  }
  
  .pokemon-image-small {
    display: none;
  }

  .pokemon-image-large {
    display: block;
    width: 100%;
  }

  .stat-num-val {
    font-size: 1.25rem;
  }
}

@media only screen and (min-width: 965px) {
  .card,
  .extra-info {
    font-weight: 400;
  }
  
  .card {
    width: 36%;
    max-width: 260px;
  }

  .extra-info {
    display: block;
    font-size: 1rem;
    margin-bottom: 4px;
  }

  .extra-info * {
    margin: 0px;
    margin-bottom: 8px;
  }
  
  .card-contents {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .stats-line {
    justify-content: space-around;
    text-align: right;
  }

  .stat-titles {
    display: inline;
    margin: 0;
    margin-right: 4px;
  }

  .stats-outer,
  .stats-inner {
    display: block;
  }
}

/* Compare-Card Styling */
.compare-card,
.compare-line {
  display: flex;
}

.compare-card {
  flex-direction: column;
  justify-content: flex-end;
  font-size: .75rem;
  font-weight: 400;
  width: 34%;
}

.val-difference {
  display: none;
}

.compare-line {
    justify-content: space-between;
    margin-top: .25rem;
}

.compare-arrow {
  width: .5rem;
  vertical-align: middle;
}

/* Compare Card Responsiveness */

@media only screen and (min-width: 500px) {
  .compare-card {
    font-size: 1.25rem;
  }

  .compare-arrow {
    width: 1rem;
  }

}

@media only screen and (min-width: 965px) {
  .compare-card {
    font-weight: 900;
    width: 20%;
    max-width: 148px;
  }
  
  .comp-stat-title {
    display: none;
  }

  .val-difference {
    display: inline;
  }
}

/*MISC CONDITIONALS*/
.hidden {
  display: none;
}